
<div class="container mt-4">


    <h2 class="text-center"> Create article  </h2>

    <div class="col-6 mx-auto">

     

        <input  type="text" class="form-control m-1" placeholder="title" [(ngModel)]="article.title">
        <ul>
            <li *ngFor="let item of article.tags" > {{item}} </li>
        </ul>
        <div class="row m-1" >
            <input  type="text" class="form-control w-75" placeholder="tag" [(ngModel)]="tag"> 
            <button class="btn btn-dark w-25" (click)="article.tags.push(tag) ; tag=''"  >Add</button>
    
        </div>
     
        <input type="file"  class="form-control m-1" (change)="select($event)" placeholder="image">
        <textarea [(ngModel)]="article.description"  title="" id="" cols="30" rows="4" placeholder="description" class="form-control m-1" ></textarea>

        <div class="m-1">
         <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="article.content"></angular-editor>

        </div>

        <button (click)="create()"  class="btn btn-dark form-control m-1">create</button>


    </div>

</div>